/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 11, 2016, 11:41:00 AM
    Author     : user
*/
.logo-header{   
    font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif; 
    font-weight: bold; 
    font-size: 240%; 
    color:red;  
}
.logo-header-mobile{   
    font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif; 
    font-weight: bold; 
    font-size: 150%; 
    color:red;  
}
.menu-header{   
    font-family: 'Arial', 'Helvetica Rounded', Arial, sans-serif; 
    font-weight: bold; 
    font-size: 120%; 
    color:red;  
}
.header{
    border-bottom:3px solid red; 
    position:relative;
}

.row{
    position:relative;
}

.align-bottom{
    position:absolute;
    top:10px;
}
.menu-align-bottom{
    position:absolute;
    top:20px;
}

/*mod*/
.news_block row [class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
.news_block row {
  margin-right: -15px;
  margin-left: -15px;    
  overflow:hidden;
}

.v-bottom-header-logo {
  position: absolute;
  top: 6px;
}
.v-bottom-header-menu {
  position: relative;
  top: 25px;
}
.v-bottom-header-btn {
  position: relative;
  top: 18px;
}
